/Assigment/Assigment 1/build/
/Assigment/Assigment 1/nbproject/private/
/Assigment/Assigment 2/TaskMVC/TaskMVC/TaskMVC/build/
/Assigment/Assigment 2/TaskMVC/TaskMVC/TaskMVC/nbproject/private/
/Assigment/TaskMVC/build/
/Assigment/TaskMVC/nbproject/private/
/Assigment/Assigment 2/TaskMVC/build/
/Assigment/Assigment 2/TaskMVC/nbproject/private/
/Assigment/Assigment 2/Assignment2/nbproject/private/
